.divSeta button img:hover{
    cursor: pointer;
    transition: ease 1s forwards;
}

.divSeta button img{
    transform: rotate(180deg);
}

.imgGhost{
    opacity: 0;
    border-radius: 5px;
}
