@media screen and (min-width: 360px) and (max-width: 900px) {
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    :root{
        --branco: aliceblue;
        --fundo: rgb(0, 17, 31);
        --azul: rgb(0, 153, 255);
        --azulEscuro: rgb(0, 102, 255);
        --fundoVidro: rgba(0, 11, 20, 0.438);
        --pretoVidro: rgba(0, 2, 15, 0.432);
    }
    
    strong{
        color: var(--azul);
    }
    
    html::-webkit-scrollbar{
        width: .5rem;
    }
    
    html::-webkit-scrollbar-track{
        background: var(--fundo);
    }
    
    html::-webkit-scrollbar-thumb{
        background: var(--azul);
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: var(--branco);
        background-color: var(--fundo);
        overflow-x: hidden;
    }
    
    .about{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background: linear-gradient(to right, var(--pretoVidro), transparent);
    
        max-width: 100vw;
    
        & .texto{
            width: 80%;
            margin: 15% 10%;
    
            & h1{
                font-size: 6vh;
            }
    
            & strong{
                font-size: 3vh;
            }
    
            & p{
                font-size: 2vh;
                margin-top: 4%;
                text-align: justify;
            }

            & .cv{

                & a{
                    padding: 0;

                    & button{
                        background: var(--azul);
                        border: none;
                        padding: 5%;
                        font-size: 2.5vh;
                        border-radius: 10px;
                        color: var(--branco);
                        margin: 5%;
                        cursor: pointer;
                    }
                }
            }
    
            & .contatos{
                width: 100%;
                padding: 2%;
                display: flex;
                margin-top: 10%;
                border-radius: 20px;
    
    
                & .flexBox1{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    
                    & a{
                        & img{
                            height: 5vh;
                        }
                    }
                }
                
                & .flexBox2{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    
                   & a{
                    & img{
                        height: 5vh;
                    }
                   }
                }
            }
        }
    
        & .imagePerfil{
            z-index: 997;
            position: relative;
            width: auto;
            height: 40vh;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
    
            padding: .4%;
    
            & img{
                margin:  auto auto;
                position: relative;
                height: 40vh;
                border-radius: 50%;
    
                z-index: 999;
            }
    
            & .bordaAnimada1{
                z-index: 998;
                position: absolute;
                background-color: var(--azul);
                height: 200%;
                width: 25%;
                top: 0;
    
                margin-left: 35%;
                
                animation: giroBordaAnimada 5s infinite linear;
            }
            
            & .bordaAnimada2{
                z-index: 998;
                position: absolute;
                background-color: var(--azulEscuro);
                height: 10%;
                width: 150%;
                top: 50%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
            
            & .bordaAnimada3{
                z-index: 998;
                position: absolute;
                background-color: var(--azul);
                height: 10%;
                width: 150%;
                top: 30%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
            
            & .bordaAnimada4{
                z-index: 998;
                position: absolute;
                background-color: var(--azulEscuro);
                height: 200%;
                width: 25%;
                top: 0;
    
                margin-left: 50%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
        }
    }
    
    .linhaBranca{
        height: 1px;
        width: 100%;
        background-color: var(--branco);
        top: 0;
    }
    
    @keyframes giroBordaAnimada {
        0%{
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg);
        }
    }

    .projetosEstaticos{
        max-width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        background-color: var(--pretoVidro);
        margin-top: 10%;
        padding: 5% 0%;
        border-radius: 20px;
        text-align: center;

        & h1{
            font-size: 4vh;
        }

        & .flexProj{
            display: flex;
            flex-direction: column;

            & a{
                text-align: center;
                padding: 2%;
                background-color: var(--azul);
                margin-top: 5%;
                text-decoration: none;
                border-radius: 20px;
                width: 50%;
                margin-left: 25%;

                & .imgComputador{
                    height: 20vh;
                    border-radius: 20px;
                    display: none !important;
                }

                & .imgCelular{
                    border-radius: 10px;
                    height: 20vh;
                }

                & p{
                    text-align: center;
                    color: var(--branco);
                    margin-top: 2%;
                }
            }
        }
    }
    
    footer{
        margin-top: 40%;
        margin-bottom: 10%;
        text-align: center;
    
        & h1{
            font-size: 8vh;
            color: var(--azul);
        }
    }
}



@media screen and (min-width: 1200px) {
    *{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
    }
    
    :root{
        --branco: aliceblue;
        --fundo: rgb(0, 17, 31);
        --azul: rgb(0, 153, 255);
        --azulEscuro: rgb(0, 102, 255);
        --fundoVidro: rgba(0, 11, 20, 0.438);
        --pretoVidro: rgba(0, 2, 15, 0.432);
    }
    
    strong{
        color: var(--azul);
    }
    
    html::-webkit-scrollbar{
        width: .5rem;
    }
    
    html::-webkit-scrollbar-track{
        background: var(--fundo);
    }
    
    html::-webkit-scrollbar-thumb{
        background: var(--azul);
    }
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        color: var(--branco);
        background-color: var(--fundo);
        overflow-x: hidden;
    }
    
    header{
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        height: 9vh;
        background: linear-gradient(to top, var(--pretoVidro), var(--fundoVidro));
    
        position: sticky;
        top: 0;
    
        z-index: 1000;
    
        & .logo, nav{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: space-around;
    
            & p{
                font-family: "Pinyon Script", serif;
                font-size: 5vh;
            }
        }
    
        & a{
            text-decoration: none;
            color: var(--branco);
    
            margin-top: auto;
            margin-bottom: auto;
        
            margin-left: -70%;
        }
        
        & #linkNav{
            position: relative;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: -70%;
    
            padding: 2%;
    
            transition: 1s all;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
    
            & button{
                color: var(--branco);
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 2vh;
            }
        }
    }
    
    .span1{
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(to right, transparent, var(--azul));
        height: .1vh;
        width: 100%;
    
        animation: span1 1s linear forwards;
    
        display: none;
    }
    
    @keyframes span1 {
        0%{
            transform: translateX(-100%);
        }
        
        100%{
            transform: translateX(100%);
        }
    }
    
    header nav a:hover{
        transition: 1s all;
    
        & div{
            display: block;
        }
    }
    
    .about{
        display: flex;
        justify-content: space-between;
        background: linear-gradient(to right, var(--pretoVidro), transparent);
    
        max-width: 100vw;
    
        & .texto{
            width: 40%;
            margin: 10% 10%;
    
            & h1{
                font-size: 6vh;
            }
    
            & strong{
                font-size: 3vh;
            }
    
            & p{
                font-size: 2vh;
                margin-top: 4%;
                text-align: justify;
            }

            & .cv{

                & a{
                    padding: 0;

                    & button{
                        background: var(--azul);
                        border: none;
                        padding: 2%;
                        border-radius: 10px;
                        color: var(--branco);
                        margin: 3%;
                        cursor: pointer;
                    }
                }
            }
    
            & .contatos{
                width: 40%;
                padding: 2%;
                display: flex;
                margin-top: 10%;
                border-radius: 20px;
    
    
                & .flexBox1{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    
                    & a{
                        & img{
                            height: 5vh;
                        }
                    }
                }
                
                & .flexBox2{
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    
                   & a{
                    & img{
                        height: 5vh;
                    }
                   }
                }
            }
        }
    
        & .imagePerfil{
            z-index: 997;
            position: relative;
            width: auto;
            height: 60vh;
            margin: auto;
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
    
            padding: .4%;
    
            & img{
                margin:  auto auto;
                position: relative;
                height: 60vh;
                border-radius: 50%;
    
                z-index: 999;
            }
    
            & .bordaAnimada1{
                z-index: 998;
                position: absolute;
                background-color: var(--azul);
                height: 200%;
                width: 25%;
                top: 0;
    
                margin-left: 35%;
                
                animation: giroBordaAnimada 5s infinite linear;
            }
            
            & .bordaAnimada2{
                z-index: 998;
                position: absolute;
                background-color: var(--azulEscuro);
                height: 10%;
                width: 150%;
                top: 50%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
            
            & .bordaAnimada3{
                z-index: 998;
                position: absolute;
                background-color: var(--azul);
                height: 10%;
                width: 150%;
                top: 30%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
            
            & .bordaAnimada4{
                z-index: 998;
                position: absolute;
                background-color: var(--azulEscuro);
                height: 200%;
                width: 25%;
                top: 0;
    
                margin-left: 50%;
                
                animation: giroBordaAnimada 8s infinite linear;
            }
        }
    }
    
    .linhaBranca{
        height: 1px;
        width: 100%;
        background-color: var(--branco);
        top: 0;
    }
    
    @keyframes giroBordaAnimada {
        0%{
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg);
        }
    }
    
    .projetosEstaticos{
        max-width: 90%;
        margin-left: 7%;
        display: flex;
        flex-direction: column;
        background-color: var(--pretoVidro);
        margin-top: 10%;
        padding: 5% 0%;
        border-radius: 20px;
        text-align: center;

        & h1{
            font-size: 4vh;
        }

        & .flexProj{
            display: flex;
            justify-content: space-around;

            & a{
                padding: 2%;
                background-color: var(--azul);
                margin-top: 5%;
                text-decoration: none;
                border-radius: 20px;

                & .imgComputador{
                    height: 20vh;
                    border-radius: 20px;
                }

                & .imgCelular{
                    border-radius: 10px;
                    display: none !important;
                    height: 20vh;
                }

                & p{
                    text-align: center;
                    color: var(--branco);
                    margin-top: 2%;
                }
            }
        }
    }

    footer{
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    
        & h1{
            font-size: 8vh;
            color: var(--azul);
        }
    }
}
