*{
    padding: 0;
    margin: 0;
}
:root{
    --fundoBody: rgb(209, 220, 230);
    --brancoCaixas: rgb(196, 208, 219);
    --cinza: rgba(153, 153, 153, 0.699);
    --azul: rgb(0, 140, 255);
    --preto: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundoBody);
    overflow-x: hidden;
    font-size: 2vh;
}

nav{
    height: 20vh;
    max-width: 100%;
    transition: ease .5s;

    position: sticky;
    top: 0;

    & button{
        font-size: 2.5vh;
        color: var(--cinza);
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        right: 1%;
        top: 5%;
    }
}

/* Apresentação (INÍCIO) */
header{
    text-align: center;
    height: 100vh;
    max-width: 100%;

    & h1{
        position: absolute;
        font-size: 15vh;
        z-index: 1000;
        color: var(--cinza);
        margin-top: 7.65%;
        margin-left: 0;
        animation: contrateMe 2s ease forwards;
    }

    & h2{
        position: relative;
        font-size: 10vh;
        padding-top: 10%;
        z-index: 1000;
    }
}

@keyframes contrateMe {
    from{
        margin-left: -55%;
    }

    to{
        margin-left: 20%;
    }
}
/* Apresentação (FIM) */

.projetos{
    width: 90%;
    margin-left: 5%;
    background-color: var(--brancoCaixas);
    text-align: center;
    border-radius: 5px;
    padding-bottom: 5%;
    & h1{
        padding: 5%;
        font-size: 5vh;
    }

    & .flexBox{
        width: 100%;
        padding: 2%;
        display: flex;
        justify-content: space-around;

        & a{
            text-decoration: none;
            color: var(--preto);

            & .janela{
                height: 300px;
                width: 300px;
                background-color: var(--cinza);
                transition: ease .8s;
                border-radius: 5px;
    
                & img{
                    height: 20vh;
                    margin-top: 5%;
                }
            }
        }
    }
}

.janela:hover{
    transform: scale(1.2);
    transition: ease .8s;
}

.texto{
    background-color: var(--brancoCaixas);
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 5%;

    & h1{
        font-size: 5vh;
        padding: 5%;
    }

    & .tecs{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    & img{
        height: 10vh;
        animation: scroll 5s ease forwards;
        animation-timeline: view();
        animation-range: cover 0% cover 70%;
    }
}

.textoTec{
    background-color: var(--brancoCaixas);
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 5%;
    margin-bottom: 5%;

    & h1{
        font-size: 5vh;
        padding: 5%;
    }

    & .linguagens{
        display: block;
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;

        & .ling{
            display: flex;
            text-align: justify;
            margin-top: 5%;
            background-color: var(--cinza);
            padding: 1%;
            border-radius: 5px;

            & img{
                height: 5vh;
                transition: ease .5s;
            }

            & p{
                margin-top: 1%;
            }
        }
    }
}

.ling img:hover{
    scale: 1.2;
    transition: ease .5s;
}

/* animação scroll das tecnologias (INÍVIO) */
@keyframes scroll {
    from{
        opacity: 0;
        transform: scale(0.1);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}
/* animação scroll das tecnologias (FIM) */

footer{
    max-width: 100%;
    padding: 5%;
    margin-bottom: 5%;
    background-color: var(--brancoCaixas);
    padding-bottom: 8%;

    & .perfil{
        width: 100%;
        text-align: center;

        & img{
            height: 40vh;
            border-radius: 50%;
        }
    }

    & .flexBox{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin-top: 5%;

        .contato{
            padding: 1%;
            border-radius: 5px;
            transition: ease 1s;
            
            & a{
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: var(--preto);

                & img{
                    height: 4vh;
                }
            }
        }
    }
}

.contato:hover{
    background-color: var(--cinza);
    transition: ease 1s;
}
